@model SellerPoint.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h4>Customer</h4>
<hr />
@*<div class="row">
    <div class="col-md-4">*@
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="MembershipCardNo" class="col-sm-2 form-control-label">Membership Card No</label>
                <div class="col-sm-10">
                    <input asp-for="MembershipCardNo" class="form-control" name="MembershipCardNo" placeholder="Enter Membership Card No"></>
                    <span asp-validation-for="MembershipCardNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 form-control-label">Name</label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" name="Name" placeholder="Enter Name"></>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Phone" class="col-sm-2 form-control-label">Phone</label>
                <div class="col-sm-10">
                    <input asp-for="Phone" class="form-control" name="Phone" placeholder="Enter Phone"></>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 form-control-label">Email</label>
                <div class="col-sm-10">
                    <input asp-for="Email" class="form-control" name="Email" placeholder="Enter Email"></>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="NationalId" class="col-sm-2 form-control-label">National Id</label>
                <div class="col-sm-10">
                    <input asp-for="NationalId" class="form-control" name="NationalId" placeholder="Enter National Id"></>
                    <span asp-validation-for="NationalId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Occupation" class="col-sm-2 form-control-label">Occupation</label>
                <div class="col-sm-10">
                    <input asp-for="Occupation" class="form-control" name="Occupation" placeholder="Enter Occupation"></>
                    <span asp-validation-for="Occupation" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Company" class="col-sm-2 form-control-label">Company</label>
                <div class="col-sm-10">
                    <input asp-for="Company" class="form-control" name="Company" placeholder="Enter Company"></>
                    <span asp-validation-for="Company" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Remarks" class="col-sm-2 form-control-label">Remarks</label>
                <div class="col-sm-10">
                    <input asp-for="Remarks" class="form-control" name="Remarks" placeholder="Enter Remarks"></>
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="IsActive" class="col-sm-2 form-control-label">IsActive</label>
                <div class="col-sm-10">
                    <input asp-for="IsActive" class="form-control" name="IsActive" placeholder="Enter IsActive"></>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
