@model SellerPoint.Models.ProductDetail

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category" />
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label"></label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BarCode" class="control-label"></label>
                <input asp-for="BarCode" class="form-control" />
                <span asp-validation-for="BarCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalePrice" class="control-label"></label>
                <input asp-for="SalePrice" class="form-control" />
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealerPrice" class="control-label"></label>
                <input asp-for="DealerPrice" class="form-control" />
                <span asp-validation-for="DealerPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPrice" class="control-label"></label>
                <input asp-for="CostPrice" class="form-control" />
                <span asp-validation-for="CostPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumStockToNotify" class="control-label"></label>
                <input asp-for="MinimumStockToNotify" class="form-control" />
                <span asp-validation-for="MinimumStockToNotify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingInventory" class="control-label"></label>
                <input asp-for="StartingInventory" class="form-control" />
                <span asp-validation-for="StartingInventory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchased" class="control-label"></label>
                <input asp-for="Purchased" class="form-control" />
                <span asp-validation-for="Purchased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sold" class="control-label"></label>
                <input asp-for="Sold" class="form-control" />
                <span asp-validation-for="Sold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnHand" class="control-label"></label>
                <input asp-for="OnHand" class="form-control" />
                <span asp-validation-for="OnHand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
