@model SellerPoint.Models.DealerSale

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DealerSale</h4>
<hr />
@*<div class="row">
    <div class="col-md-4">*@

<div class="form-group">
    <label asp-for="DealerId" class="control-label"></label>
    <input asp-for="DealerId" class="form-control" />
    <span asp-validation-for="DealerId" class="text-danger"></span>
</div>
<table class="table">
</table>
<div class="form-group">
    <label asp-for="ProductName" class="control-label"></label>
    <div class="input-group">

        <input asp-for="ProductName" class="form-control" placeholder="Search Product Here" />
        <span class="input-group-btn">
            <button type="submit" class="btn btn-info pull-left" id="btnSearch">Search</button>
        </span>
    </div>
</div>

<div class="panel biz-boxed">
    <div class="panel-heading">
        <h4 id="shopping-cart">New Dealer Sale:</h4>

    </div>
    <div class="table-responsive">
        <table id="tblProduct" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>OnHand</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="panel biz-boxed">
    <div class="panel-heading">
        <h4 id="shopping-cart">My Shopping Cart:</h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="table-responsive">
                <table id="cart-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            @*<th>#</th>*@
                            <th>Name</th>
                            <th>Unit Price</th>
                            @*<th></th>*@
                            <th></th>
                            <th>Quantity</th>
                            <th></th>
                            <th>Total</th>
                            <th>Sale Type</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UnitPrice" class="control-label"></label>
        <input asp-for="UnitPrice" class="form-control" value="0" />
        <span asp-validation-for="UnitPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiscountPercent" class="control-label"></label>
        <input asp-for="DiscountPercent" class="form-control" />
        <span asp-validation-for="DiscountPercent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Discount" class="control-label"></label>
        <input asp-for="Discount" class="form-control" />
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Paid" class="control-label"></label>
        <input asp-for="Paid" class="form-control" />
        <span asp-validation-for="Paid" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Due" class="control-label"></label>
        <input asp-for="Due" class="form-control" />
        <span asp-validation-for="Due" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WarehouseId" class="control-label"></label>
        <input asp-for="WarehouseId" class="form-control" />
        <span asp-validation-for="WarehouseId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Remarks" class="control-label"></label>
        <input asp-for="Remarks" class="form-control" />
        <span asp-validation-for="Remarks" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-info" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}




    <script type="text/javascript">


        $(document).ready(function () {

        $("#DealerId").tokenInput("@Url.Action("GetDealers", "DealerSales")",
            {
                theme: 'facebook',
                tokenLimit: 1,
                preventDuplicates: true
            });




            //Search Product and Show them
        $("#btnSearch").click(function () {
            var productName = $("#ProductName").val();
            $.ajax({
                type: 'GET',
                url: '/DealerSales/GetProducts?ProductNameAndDetail=' + productName,
                contentType: 'json',
                success: function (result) {
                    var serial;
                    $("#tblProduct > tbody").html("");
                    for (var i = 0; i < result.length; i++) {
                        serial = parseInt(i) + 1;
                        $("#tblProduct tbody").append(
                            '<tr><td>' + serial.toString()
                            + '</td><td>' + result[i].name
                            + '</td><td>' + result[i].dealerPrice
                            + '</td><td>5</td><td><button type="submit" class="addtocart btn btn-primary" >Add to Cart</button></td></tr>');
                    }
                }
            })
        });


            //Click add to cart and Show product in add to cart area
        $('#tblProduct').on('click', '.addtocart', function (e) {
            //$("#cart-table > tbody").html("");
            //$("#cart-table tbody").append('<tr>');
            var i = 0;
            var unitPrice = 0;
            var trInitial = '';
            $(this).closest('tr').find('td').each(function () {
                var textval = $(this).text(); // this will be the text of each <td>

                //alert(textval);
                if (i == 1 || i==2) {
                    //$("#cart-table tbody").append('<td>' + textval + '</td>');
                    trInitial += '<td>' + textval + '</td>';

                    if (i == 2) {
                        unitPrice = textval;
                    }
                }
                i++;
            });


            var existingUnitPrice = $("#UnitPrice").val();
            existingUnitPrice = parseInt(existingUnitPrice) + parseInt(unitPrice);
            $("#UnitPrice").val(existingUnitPrice);
            $("#cart-table tbody").append('<tr>'+ trInitial + ' <td><button id="btnMinusQty" type="submit" class=" btn btn-danger  mdi mdi-minus" ></button></td><td><input type="text" value="1" class="qty form-control" id="txtQty"></td><td><button id="btnAddQty" class="btn btn-danger  mdi mdi-plus" type="submit" ></button></td><td>' + unitPrice + '</td><td><select class="form-control"><option value="sale">Sale</option><option value="damage">Damage</option><option value="gift">Gift</option><option value="return">Return</option></select></td></tr>');
        });







            $('#cart-table').on('click', '#btnMinusQty', function (e) {
                var quantity = $(this).closest('tr').find('td').find('input[id=txtQty]').val();              

                quantity = parseInt(quantity) - 1;

                if (quantity==0) {
                    alert("Please add quantity greater than 0");
                    e.preventDefault();
                    return false;
                }

                $(this).closest('tr').find('td').find('input[id=txtQty]').val(quantity);   

                var i = 0;
                var unitPrice = 0;
                var price = 0;

                $(this).closest('tr').find('td').each(function () {

                     if (i == 1) {


                        unitPrice = $(this).text(); 
                        
                    }

                    if (i == 5) {

                        price = parseInt(quantity) * parseInt(unitPrice);

                        $(this).text(price); 
                        
                    }

                    i++;
                });

              });

              $('#cart-table').on('click', '#btnAddQty', function (e) {

                  var quantity = $(this).closest('tr').find('td').find('input[id=txtQty]').val();              

                quantity = parseInt(quantity) + 1;

                $(this).closest('tr').find('td').find('input[id=txtQty]').val(quantity);   

                var i = 0;
                var unitPrice = 0;
                var price = 0;

                $(this).closest('tr').find('td').each(function () {

                     if (i == 1) {


                        unitPrice = $(this).text(); 
                        
                    }

                    if (i == 5) {

                        price = parseInt(quantity) * parseInt(unitPrice);

                        $(this).text(price); 
                        
                    }

                    i++;
                });      


            });



    })

    </script>
}
