@model SellerPoint.Models.DealerSale

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DealerSale</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="DealerId" class="control-label"></label>
            <input asp-for="DealerId" class="form-control" />
            <span asp-validation-for="DealerId" class="text-danger"></span>
        </div>
        <table class="table">
        </table>
        <div class="form-group">
            <label asp-for="ProductName" class="control-label"></label>
            <div class="input-group">

                <input asp-for="ProductName" class="form-control" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-info pull-left" id="btnSearch">Search</button>
                </span>
            </div>
        </div>


            <div class="table-responsive">
                <table id="tblProduct" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>OnHand</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UnitPrice" class="control-label"></label>
                    <input asp-for="UnitPrice" class="form-control" />
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiscountPercent" class="control-label"></label>
                    <input asp-for="DiscountPercent" class="form-control" />
                    <span asp-validation-for="DiscountPercent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Discount" class="control-label"></label>
                    <input asp-for="Discount" class="form-control" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Paid" class="control-label"></label>
                    <input asp-for="Paid" class="form-control" />
                    <span asp-validation-for="Paid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Due" class="control-label"></label>
                    <input asp-for="Due" class="form-control" />
                    <span asp-validation-for="Due" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WarehouseId" class="control-label"></label>
                    <input asp-for="WarehouseId" class="form-control" />
                    <span asp-validation-for="WarehouseId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Remarks" class="control-label"></label>
                    <input asp-for="Remarks" class="form-control" />
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">

        $(document).ready(function () {

            $("#DealerId").tokenInput("@Url.Action("GetDealers", "DealerSales")",
                            {
                                theme: 'facebook',
                                tokenLimit: 1,
                                preventDuplicates: true
                            });



            $("#btnSearch").click(function () {

                var productName = $("#ProductName").val();

                

                $.ajax({
                    type: 'GET',
                    url: '/DealerSales/GetProducts?ProductName=' + productName,
                    contentType: 'json',
                    success: function (data) {
                        var serial;
                        //console.log(data);
                        $("#tblProduct > tbody").html("");
                        for (var i = 0; i < data.length; i++) {                            
                            serial = parseInt(i) + 1;
                            $("#tblProduct tbody").append('<tr><td>' + serial.toString() + '</td><td>' + data[i].name + '</td><td>' + data[i].dealerPrice + '</td><td>5</td><td><button type="submit" class="addtocart btn btn-primary" >Add to Cart</button></td></tr>');
                        }
                    }

                })

            })


            $('#tblProduct').on('click', '.addtocart', function(e){
   $(this).closest('tr').find('td').each(function() {
       var textval = $(this).text(); // this will be the text of each <td>
       alert(textval);
   });
});


//            $('#tblProduct').on('click', '.addtocart', function(e){
//  alert('button clicked', this);
//});

   //         var table = $('#tblProduct');
   //$(table).on( 'click', 'button', function () {
   //     var tr = $(this).closest('tr');
   //    console.log(tr);
   //   });


         

        })

</script>
}
