@model SellerPoint.Models.DealerSale

@{
    ViewData["Title"] = "entry";
}

<h4>Dealer Sale</h4>
<hr />
@*<div class="row">
    <div class="col-md-4">*@
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="DealerName" class="control-label"></label>
        <input asp-for="DealerName" class="form-control" />

        <span asp-validation-for="DealerName" class="text-danger"></span>
    </div>
    <table class="table">
    </table>
    <div class="form-group">
        <label asp-for="ProductName" class="control-label"></label>
        <div class="input-group">

            <input asp-for="ProductName" class="form-control" placeholder="Search Product Here" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-info pull-left" id="btnSearch">Search</button>
            </span>
        </div>
    </div>
    <div class="panel biz-boxed">
        <div class="panel-heading">
            <h4 id="shopping-cart">New Dealer Sale:</h4>
        </div>
        <div class="table-responsive">
            <table id="tblProduct" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>OnHand</th>
                        <th style="display:none">Product Id</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="DealerId" type="hidden" />
    <div class="panel biz-boxed">
        <div class="panel-heading">
            <h4 id="shopping-cart">My Shopping Cart:</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="table-responsive">
                    <table id="cart-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                @*<th>#</th>*@
                                <th>Name</th>
                                <th>Unit Price</th>
                                @*<th></th>*@
                                <th></th>
                                <th>Quantity</th>
                                <th></th>
                                <th>Total</th>
                                <th>Sale Type</th>
                                <th style="display:none">Product Id</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel biz-boxed">
        <div class="panel-heading">
            <h4 id="shopping-cart"></h4>
        </div>
        <div class="form-group">
            <label asp-for="UnitPrice" class="control-label"></label>
            <input type="number" asp-for="UnitPrice" readonly class="form-control" value="0" />
            <span asp-validation-for="UnitPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DiscountPercent" class="control-label"></label>
            <input asp-for="DiscountPercent" class="form-control" />
            <span asp-validation-for="DiscountPercent" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Discount" class="control-label"></label>
            <input asp-for="Discount" class="form-control" />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="payableTotal" class="control-label"></label>
            <input type="number" asp-for="payableTotal" readonly class="form-control" value="0" />
            <span asp-validation-for="payableTotal" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Paid" class="control-label"></label>
            <input asp-for="Paid" class="form-control" value="0" />
            <span asp-validation-for="Paid" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Due" class="control-label"></label>
            <input type="number" asp-for="Due" readonly style="background-color:lightpink" class="form-control" value="0" />
            <span asp-validation-for="Due" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="WarehouseId" class="control-label"></label>
            <input asp-for="WarehouseId" class="form-control" />           
            <span asp-validation-for="WarehouseId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Remarks" class="control-label"></label>
            <input asp-for="Remarks" class="form-control" />
            <span asp-validation-for="Remarks" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group pt-3">
        <input type="submit" value="Save" class="btn btn-info" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


   
}

