@model SellerPoint.Models.DealerSale

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DealerSale</h4>
<hr />
@*<div class="row">
    <div class="col-md-4">*@

<div class="form-group">
    <label asp-for="DealerId" class="control-label"></label>
    <input asp-for="DealerId" class="form-control" />
    <span asp-validation-for="DealerId" class="text-danger"></span>
</div>
<table class="table">
</table>
<div class="form-group">
    <label asp-for="ProductName" class="control-label"></label>
    <div class="input-group">

        <input asp-for="ProductName" class="form-control" />
        <span class="input-group-btn">
            <button type="submit" class="btn btn-info pull-left" id="btnSearch">Search</button>
        </span>
    </div>
</div>

    <div class="panel-body">
        <div class="form-group">
            <div class="table-responsive">
                <table id="tblProduct" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            @*<th>#</th>*@
                            <th>Name</th>
                            <th>Unit Price</th>
                            @*<th></th>*@
                            <th></th>
                            <th>Quantity</th>
                            <th></th>
                            <th>Total</th>
                            <th>Sale Type</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
</div>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UnitPrice" class="control-label"></label>
        <input asp-for="UnitPrice" class="form-control" value="0" />
        <span asp-validation-for="UnitPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiscountPercent" class="control-label"></label>
        <input asp-for="DiscountPercent" class="form-control" />
        <span asp-validation-for="DiscountPercent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Discount" class="control-label"></label>
        <input asp-for="Discount" class="form-control" />
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Paid" class="control-label"></label>
        <input asp-for="Paid" class="form-control" />
        <span asp-validation-for="Paid" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Due" class="control-label"></label>
        <input asp-for="Due" class="form-control" />
        <span asp-validation-for="Due" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WarehouseId" class="control-label"></label>
        <input asp-for="WarehouseId" class="form-control" />
        <span asp-validation-for="WarehouseId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Remarks" class="control-label"></label>
        <input asp-for="Remarks" class="form-control" />
        <span asp-validation-for="Remarks" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-info" />
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*<script type="text/javascript">

        $(document).ready(function () {*@

            @*$("#btnSearch").click(function () {

                var productName = $("#ProductName").val();
                $.ajax({
                    type: 'GET',
                    url: '/DealerSales/GetProducts?ProductNameAndDetail=' + productName,
                    contentType: 'json',
                    success: function (DBTableData) {
                        console.log(DBTableData);
                        var serialNo;
                        $("#tblProduct > tbody").html("");
                        for (var i = 0; i < DBTableData.length; i++) {
                            serialNo = parseInt(i) + 1;
                            $("#tblProduct tbody").append(
                                '<tr><td>' + serialNo.toString()
                                + '</td><td>' + DBTableData[i].name
                                + '</td><td>' + DBTableData[i].dealerPrice
                                + '</td><td>5</td><td><button type="submit" class="addtocart btn btn-primary" >Add to Cart</button></td></tr>');
                        }
                    }
                })
            })

        });

    </script>*@


    <script type="text/javascript">



        $(document).ready(function () {


            //To Invoke DealerSale Controller With Database Table in Search option
            $("#btnSearch").click(function () {

                alert('test');
                var productName = $("#ProductName").val();
                $.ajax({
                    type: 'GET',
                    url: '/DealerSales/GetProducts?ProductNameAndDetail=' + productName,
                    contentType: 'json',
                    success: function (DBTableData) {
                        var serialNo;
                        $("#tblProduct > tbody").html("");
                        for (var i = 0; i < DBTableData.length; i++) {
                            serialNo = parseInt(i) + 1;
                            $("#tblProduct tbody").append(
                                '<tr><td>' + serialNo.toString()
                                + '</td><td>' + DBTableData[i].name
                                + '</td><td>' + DBTableData[i].dealerPrice
                                + '</td><td>5</td><td><button type="submit" class="addtocart btn btn-primary" >Add to Cart</button></td></tr>');
                        }
                    }
                })
            });

        });


















        //    $('#tblProduct').on('click', '.addtocart', function (e) {
                
        //        var i = 0;
        //        var unitPrice = 0;
        //        var trInitial = '';



        //        $(this).closest('tr').find('td').each(function () {
        //            var textval = $(this).text(); // this will be the text of each <td>



        //            if (i == 1 || i == 2) {
        //                //$("#cart-table tbody").append('<td>' + textval + '</td>');
        //                trInitial += '<td>' + textval + '</td>';

        //                if (i == 2) {
        //                    unitPrice = textval;
        //                }
        //            }
        //            i++;
        //        });

























        //})

    </script>


}
